/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
            box-sizing: border-box ;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    color: #fff;
    /* background: #6563ff; */
}

.container{
    width: 1165px;
    min-width: 1050px;
    margin: 0 auto;
}

.coinflip{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    background-color: #171717;
    gap: 4%;
}

.bet{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #1E1E1E;
    padding: 38px 66px 38px 36px;
    width: 36%;
    position: relative;
}

.bet__title{
    font-size: 24px;
    color: #FF6E1C;
    padding-bottom: 31px;
}

.bet__input{
    color: #fff;
    background-color: #171717;
    border: none;
    padding: 13px 19px;
    border-radius: 5px;
    margin-bottom: 38px;
    width: 100%;
}

.bet__input.untouchable{
    pointer-events: none;
}

.bet__input::-webkit-input-placeholder{
    color: gray;
}

.bet__input::-moz-placeholder{
    color: gray;
}

.bet__input:-ms-input-placeholder{
    color: gray;
}

.bet__input::-ms-input-placeholder{
    color: gray;
}

.bet__input::placeholder{
    color: gray;
}

.bet__input-warning{
    display: none;
    position: absolute;
    border: 1px solid #FF6E1C;
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
    left: 36px;
    top: 145px;
}

.bet__text{
    font-size: 18px;
    margin-bottom: 21px;
}

.coin__btn-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 6%;
    margin-bottom: 33px;
}

.coin__btn{
    background: rgb(49,49,49);
    border: none;
    width: 47%;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.coin__btn.active{
    border: 1px solid #FF6E1C;
}

.bet__btn{
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,184,1,1)), to(rgba(224,96,18,1)));
    background: -o-linear-gradient(left, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
    background: linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
    /* background: gray; */
    border: none;
    font-size: 18px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.reward__btn{
    display: none;
    background: -webkit-gradient(linear, left top, right top, from(rgba(224,96,18,1)), to(rgba(255,184,1,1)));
    background: -o-linear-gradient(left, rgba(224,96,18,1) 0%, rgba(255,184,1,1) 100%);
    background: linear-gradient(90deg, rgba(224,96,18,1) 0%, rgba(255,184,1,1) 100%);
    border: none;
    font-size: 18px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    border-radius: 16px;
    cursor: pointer;
}

.game{
    width: 60%;
    padding: 38px 50px 38px 60px;
    background-color: #1E1E1E;
}

.game.game__active{
    pointer-events: auto;
}

.game__container{
    width: 100%;
    padding: 47px 0 64px 0;
    background: -webkit-gradient(linear, right top, left top, from(rgba(213,77,0,1)), color-stop(26%, rgba(152,61,9,1)), color-stop(54%, rgba(99,46,16,1)), color-stop(70%, rgba(56,35,23,1)), color-stop(83%, rgba(27,27,27,1)), to(rgba(27,27,27,1)));
    background: -o-linear-gradient(right, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    background: linear-gradient(270deg, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 27px;
    border-radius: 10px;
    position: relative;
}

.overlay{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow-x: hidden;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.overlay__content {
    background: -webkit-gradient(linear, left top, right top, from(rgba(123,53,14,1)), color-stop(10%, rgba(99,47,18,1)), color-stop(31%, rgba(48,32,23,1)), color-stop(51%, rgba(30,26,24,1)), color-stop(67%, rgba(19,18,18,1)), color-stop(84%, rgba(14,14,13,1)), to(rgba(10,9,8,1)));
    background: -o-linear-gradient(left, rgba(123,53,14,1) 0%, rgba(99,47,18,1) 10%, rgba(48,32,23,1) 31%, rgba(30,26,24,1) 51%, rgba(19,18,18,1) 67%, rgba(14,14,13,1) 84%, rgba(10,9,8,1) 100%);
    background: linear-gradient(90deg, rgba(123,53,14,1) 0%, rgba(99,47,18,1) 10%, rgba(48,32,23,1) 31%, rgba(30,26,24,1) 51%, rgba(19,18,18,1) 67%, rgba(14,14,13,1) 84%, rgba(10,9,8,1) 100%);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 76px 0;
    border-radius: 10px;
}

.overlay__btn-container{
    position: absolute;
    top: 13px;
    right: 16px;
    padding: 5px;
}

.overlay__btn{
    background-color: transparent;
    border: none;
    color: #646464;
    padding: 0;
    cursor: pointer;
}

.overlay__ratio{
    font-size: 66px;
    color: #FF6E1C;
}

.overlay__reward{
    font-size: 20px;
    color: #fff;
}

.count{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
}

.count__rounds,
.count__ratio{
    padding: 20px 25px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(213,77,0,1)), color-stop(26%, rgba(152,61,9,1)), color-stop(54%, rgba(99,46,16,1)), color-stop(70%, rgba(56,35,23,1)), color-stop(83%, rgba(27,27,27,1)), to(rgba(27,27,27,1)));
    background: -o-linear-gradient(right, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    background: linear-gradient(270deg, rgba(213,77,0,1) 0%, rgba(152,61,9,1) 26%, rgba(99,46,16,1) 54%, rgba(56,35,23,1) 70%, rgba(27,27,27,1) 83%, rgba(27,27,27,1) 100%);
    border-radius: 10px;
}

.count__rounds-num,
.count__ratio-num{
    font-size: 25px;
    line-height: 25px;
    background: -o-linear-gradient(357deg, rgba(255,110,28,1) 0%, rgba(255,184,1,1) 100%);
    background: linear-gradient(93deg, rgba(255,110,28,1) 0%, rgba(255,184,1,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.count__rounds-text,
.count__ratio-text{
    font-size: 16px;
    line-height: 16px;
}

.coin__container{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.coin{
    position: relative;
    width: 220px;
    height: 220px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    /* transition: 2s; */
    /* transform: rotateY(0deg); */
}

.rotateToReshka {
    -webkit-animation: rotate-to-reshka 1.5s ease-out forwards;
            animation: rotate-to-reshka 1.5s ease-out forwards;
}

.rotateToOrel{
    -webkit-animation: rotate-to-orel 1.5s ease-out forwards;
            animation: rotate-to-orel 1.5s ease-out forwards;
}

.view{
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: translateZ(7px);
            transform: translateZ(7px);
    background-image: url('./img/big-orel.png');
    background-size: cover;
}

.reshka__view{
    --direction: -1;
    background-image: url("./img/big-reshka.png");
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}


@-webkit-keyframes rotate-to-reshka {
    to{
        -webkit-transform: rotateY(1278deg);
                transform: rotateY(1278deg);
    }
}


@keyframes rotate-to-reshka {
    to{
        -webkit-transform: rotateY(1278deg);
                transform: rotateY(1278deg);
    }
}

@-webkit-keyframes rotate-to-orel {
    to{
        -webkit-transform: rotateY(1100deg);
                transform: rotateY(1100deg);
    }
}

@keyframes rotate-to-orel {
    to{
        -webkit-transform: rotateY(1100deg);
                transform: rotateY(1100deg);
    }
}

.history{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 17px 14px 17px 18px;
    border: 1px solid #FF6E1C;
    border-radius: 10px;
}

.history__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 8px;
}

.history__item-img{
    width: 45px;
}

.history__item-text{
    font-size: 10px;
    font-weight: normal;
}

.history-game{
    width: 100%;
    background: #1B1B1B;
    margin-top: 60px;
    border-radius: 10px;
    padding: 0 90px;
}

.history-game__title{
    text-align: center;
    font-size: 36px;
    padding: 42px 0 52px;
}

.history-game__table {
    border-collapse: collapse;
    width: 100%;
}
  
.history-game__header{
    border-bottom: 1px solid #fff;
}

.history-game__table th{
    font-size: 18px;
    padding-bottom: 20px; 
}

.history-game__header-player,
.history-game__content-player{
    text-align: left;
}

.history-game__header-bet,
.history-game__content-bet,
.history-game__header-hit,
.history-game__content-hit,
.history-game__header-ratio,
.history-game__content-ratio{
    text-align: center;
}

.history-game__header-win,
.history-game__content-win{
    text-align: right;
}

.history-game__table td {
    font-size: 16px;
    padding-top: 30px;
}

.history-game__content-player{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 1050px) {
    .container{
        min-width: 900px;
    }

    .bet{
        padding: 38px 46px 38px 36px;
    }
    
    .bet__title{
        font-size: 24px;
        padding-bottom: 31px;
    }
    
    .bet__input{
        padding: 13px 19px;
        margin-bottom: 38px;
        font-size: 12px;
    }
    
    .bet__input-warning{
        padding: 5px;
        font-size: 11px;
        left: 36px;
        top: 145px;
    }
    
    .bet__text{
        font-size: 16px;
        margin-bottom: 18px;
    }
    
    .coin__btn-container{
        gap: 6%;
        margin-bottom: 33px;
    }
    
    .coin__btn{
        width: 47%;
        font-size: 14px;
        padding: 12px 0;
    }

    .coin__img{
        width: 60px;
        height: 60px;
    }
    
    .bet__btn{
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,184,1,1)), to(rgba(224,96,18,1)));
        background: -o-linear-gradient(left, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        background: linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        /* background: gray; */
        font-size: 16px;
        padding: 8px 0;
        margin-bottom: 20px;
    }
    
    .reward__btn{
        font-size: 16px;
        padding: 8px 0;
    }
    
    .game{
        padding: 38px 45px 38px 45px;
    }
    
    .game__container{
        padding: 47px 0 54px;
        margin-bottom: 27px;
    }
    
    .overlay__content {
        width: 300px;
        gap: 20px;
        padding: 76px 0;
    }
    
    .overlay__ratio{
        font-size: 66px;
    }
    
    .overlay__reward{
        font-size: 20px;
    }
    
    .count{
        gap: 50px;
    }
    
    .count__rounds,
    .count__ratio{
        padding: 15px 20px;
    }
    
    .count__rounds-num,
    .count__ratio-num{
        font-size: 22px;
        line-height: 22px;
    }
    
    .count__rounds-text,
    .count__ratio-text{
        font-size: 14px;
        line-height: 14px;
    }
   
    .coin{
        width: 200px;
        height: 200px;
    }
    
    .view{
        width: 200px;
        height: 200px;
    }
    
    .history{
        padding: 17px 14px 17px 14px;
    }
    
    .history__item{
        gap: 8px;
    }
    
    .history__item-img{
        width: 40px;
    }
    
    .history__item-text{
        font-size: 10px;
    }
}

@media (max-width: 900px) {
    .container{
        min-width: 795px;
    }

    .bet{
        padding: 20px 20px 20px 20px;
    }
    
    .bet__title{
        font-size: 22px;
        padding-bottom: 15px;
    }
    
    .bet__input{
        padding: 9px 13px;
        margin-bottom: 25px;
        font-size: 10px;
    }
    
    .bet__input-warning {
        padding: 4px;
        font-size: 8px;
        left: 24px;
        top: 94px;
    }
    
    .bet__text{
        font-size: 13px;
        margin-bottom: 18px;
    }
    
    .coin__btn-container{
        gap: 6%;
        margin-bottom: 25px;
    }
    
    .coin__btn{
        width: 47%;
        font-size: 12px;
        padding: 7px 0;
    }

    .coin__img{
        width: 50px;
        height: 50px;
    }
    
    .bet__btn{
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,184,1,1)), to(rgba(224,96,18,1)));
        background: -o-linear-gradient(left, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        background: linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        /* background: gray; */
        font-size: 14px;
        padding: 8px 0;
        margin-bottom: 10px;
    }
    
    .reward__btn{
        font-size: 14px;
        padding: 8px 0;
    }
    
    .game{
        padding: 30px 30px 30px 30px;
    }
    
    .game__container{
        padding: 40px 0 40px;
        margin-bottom: 27px;
    }
    
    .overlay__content {
        width: 300px;
        gap: 20px;
        padding: 46px 0;
    }
    
    .overlay__ratio{
        font-size: 66px;
    }
    
    .overlay__reward{
        font-size: 20px;
    }
    
    .count{
        gap: 50px;
    }
    
    .count__rounds,
    .count__ratio{
        padding: 12px 17px;
    }
    
    .count__rounds-num,
    .count__ratio-num{
        font-size: 20px;
        line-height: 20px;
    }
    
    .count__rounds-text,
    .count__ratio-text{
        font-size: 12px;
        line-height: 12px;
    }
   
    .coin{
        width: 180px;
        height: 180px;
    }
    
    .view{
        width: 180px;
        height: 180px;
    }
    
    .history{
        padding: 17px 14px 17px 14px;
    }
    
    .history__item{
        gap: 8px;
    }
    
    .history__item-img{
        width: 35px;
    }
    
    .history__item-text{
        font-size: 8px;
    }
}

@media (max-width: 795px) {
    .container{
        min-width: 700px;
    }

    .bet{
        padding: 20px 20px 20px 20px;
    }
    
    .bet__title{
        font-size: 18px;
        padding-bottom: 15px;
    }
    
    .bet__input{
        padding: 9px 13px;
        margin-bottom: 25px;
        font-size: 10px;
    }
    
    .bet__input-warning {
        padding: 4px;
        font-size: 8px;
        left: 21px;
        top: 88px;
    }
    
    .bet__text{
        font-size: 12px;
        margin-bottom: 18px;
    }
    
    .coin__btn-container{
        gap: 6%;
        margin-bottom: 25px;
    }
    
    .coin__btn{
        width: 47%;
        font-size: 12px;
        padding: 7px 0;
    }

    .coin__img{
        width: 50px;
        height: 50px;
    }
    
    .bet__btn{
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,184,1,1)), to(rgba(224,96,18,1)));
        background: -o-linear-gradient(left, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        background: linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        /* background: gray; */
        font-size: 12px;
        padding: 8px 0;
        margin-bottom: 10px;
    }
    
    .reward__btn{
        font-size: 14px;
        padding: 8px 0;
    }
    
    .game{
        padding: 30px 30px 30px 30px;
    }
    
    .game__container{
        padding: 40px 0 40px;
        margin-bottom: 27px;
    }
    
    .overlay__content {
        width: 300px;
        gap: 20px;
        padding: 46px 0;
    }
    
    .overlay__ratio{
        font-size: 66px;
    }
    
    .overlay__reward{
        font-size: 20px;
    }
    
    .count{
        gap: 50px;
    }
    
    .count__rounds,
    .count__ratio{
        padding: 12px 17px;
    }
    
    .count__rounds-num,
    .count__ratio-num{
        font-size: 20px;
        line-height: 20px;
    }
    
    .count__rounds-text,
    .count__ratio-text{
        font-size: 12px;
        line-height: 12px;
    }
   
    .coin{
        width: 160px;
        height: 160px;
    }
    
    .view{
        width: 160px;
        height: 160px;
    }
    
    .history{
        padding: 17px 14px 17px 14px;
    }
    
    .history__item{
        gap: 8px;
    }
    
    .history__item-img{
        width: 30px;
    }
    
    .history__item-text{
        font-size: 8px;
    }
}

@media (max-width: 705px) {
    .container{
        min-width: 600px;
    }

    .bet{
        padding: 20px 20px 20px 20px;
    }
    
    .bet__title{
        font-size: 18px;
        padding-bottom: 15px;
    }
    
    .bet__input{
        padding: 9px 13px;
        margin-bottom: 25px;
        font-size: 10px;
    }
    
    .bet__input-warning {
        padding: 4px;
        font-size: 8px;
        left: 31px;
        top: 103px;
    }
    
    .bet__text{
        font-size: 12px;
        margin-bottom: 18px;
    }
    
    .coin__btn-container{
        gap: 6%;
        margin-bottom: 25px;
    }
    
    .coin__btn{
        width: 47%;
        font-size: 11px;
        padding: 7px 0;
    }

    .coin__img{
        width: 45px;
        height: 45px;
    }
    
    .bet__btn{
        background: -webkit-gradient(linear, left top, right top, from(rgba(255,184,1,1)), to(rgba(224,96,18,1)));
        background: -o-linear-gradient(left, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        background: linear-gradient(90deg, rgba(255,184,1,1) 0%, rgba(224,96,18,1) 100%);
        /* background: gray; */
        font-size: 12px;
        padding: 8px 0;
        margin-bottom: 10px;
    }
    
    .reward__btn{
        font-size: 14px;
        padding: 8px 0;
    }
    
    .game{
        padding: 20px 20px 20px 20px;
    }
    
    .game__container{
        padding: 40px 0 40px;
        margin-bottom: 27px;
    }
    
    .overlay__content {
        width: 300px;
        gap: 20px;
        padding: 46px 0;
    }
    
    .overlay__ratio{
        font-size: 66px;
    }
    
    .overlay__reward{
        font-size: 20px;
    }
    
    .count{
        gap: 40px;
    }
    
    .count__rounds,
    .count__ratio{
        padding: 8px 14px;
    }
    
    .count__rounds-num,
    .count__ratio-num{
        font-size: 17px;
        line-height: 17px;
    }
    
    .count__rounds-text,
    .count__ratio-text{
        font-size: 10px;
        line-height: 10px;
    }
   
    .coin{
        width: 160px;
        height: 160px;
    }
    
    .view{
        width: 160px;
        height: 160px;
    }
    
    .history{
        padding: 17px 14px 17px 14px;
    }
    
    .history__item{
        gap: 8px;
    }
    
    .history__item-img{
        width: 30px;
    }
    
    .history__item-text{
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    .container{
        min-width: 100vw;
        margin: 0 auto;
    }
    
    .coinflip{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        gap: 27px;
    }
    
    .bet{
        padding: 18px 28px 24px 28px;
        width: 100%;
        height: 315px;
    }

    .bet__title{
        width: 100%;
        text-align: center;
        font-size: 17px;
        padding-bottom: 12px;
    }

    .bet__input{
        margin-bottom: 20px;
        padding: 9px 13px;
        font-size: 12px;
    }

    .bet__input-warning {
        padding: 4px;
        font-size: 8px;
        left: 29px;
        top: 85px;
    }

    .bet__text{
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin-bottom: 13px;
    }

    .coin__btn-container{
        top: 84px
    }

    .coin__btn{
        padding: 8px 0;
    }

    .coin__img{
        width: 50px;
    }

    .coin__text{
        font-size: 11px;
    }

    .bet__btn,
    .reward__btn{
        font-size: 14px;
        padding: 5px 0;
    }

    .bet__btn{
        margin-bottom: 10px;
    }
    
    .game{
        width: 100%;
        padding: 0 20px 20px 14px;
    }

    .game__container{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 40px 0 40px 0;
        margin-bottom: 27px;
    }

    .overlay__content {
        width: 43vw;
        gap: 15px;
        padding: 26px 0;
    }
    
    .overlay__ratio{
        font-size: 36px;
        color: #FF6E1C;
    }
    
    .overlay__reward{
        font-size: 14px;
        color: #fff;
    }

    .count{
        gap: 20px;
    }

    .count__rounds,
    .count__ratio{
        padding: 16px 12px 11px;
    }

    .count__rounds-num,
    .count__ratio-num{
        font-size: 18px;
        line-height: 18px;
    }

    .count__rounds-text,
    .count__ratio-text {
        font-size: 10px;
        line-height: 10px;
    }

    .coin {
        width: 140px;
        height: 140px;
    }

    .view {
        width: 140px;
        height: 140px;
    }

    .history {
        width: 100%;
        padding: 10px 10px;
        overflow: auto;
        gap: 15px;
        border-radius: 10px 10px 0 0;
    }

    .history::-webkit-scrollbar {
        height: 8px; 
        cursor: pointer;
    }
    
    .history::-webkit-scrollbar-thumb { 
        background: #FF6E1C;
        cursor: pointer;
    }
    
    .history::-webkit-scrollbar-track { 
        background: #111;
        cursor: pointer;
    }

    .history__item-img {
        width: 41px;
    }

    .history__item-text{
        font-size: 7px;
    }
    .history-game{
        width: 100%;
        padding: 21px 21px 40px;
    }
    .history-game__title{
        font-size: 17px;
        padding: 21px 0 22px;
    }
    .history-game__header-ratio,
    .history-game__content-ratio{
        display: none;
    }
    .history-game__table th {
        font-size: 10px;
        padding-bottom: 9px;
        font-weight: light;
    }
    .history-game__table td {
        font-size: 8px;
        padding-top: 20px;
    }
    .history-game__header-win,
    .history-game__content-win{
        text-align: center;
    }
    .history-game__content-player-img{
        width: 24px;
    }
}

@media (max-width: 380px) {
    .overlay__content {
        width: 70vw;
        gap: 15px;
        padding: 26px 0;
    }
    .history-game__header-hit,
    .history-game__content-hit{
        display: none;
    }
}


@media (max-width: 350px) {
    .coin {
        width: 120px;
        height: 120px;
    }
    .view {
        width: 120px;
        height: 120px;
    }
    .orel__img,
    .reshka__img{
        width: 110px;
        height: 110px;
    }
    .count__rounds,
    .count__ratio{
        padding: 10px 10px 10px;
    }

    .count__rounds-num,
    .count__ratio-num{
        font-size: 15px;
        line-height: 15px;
    }

    .count__rounds-text,
    .count__ratio-text {
        font-size: 9px;
        line-height: 9px;
    }
}